.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.text-left {
  text-align: left!important;
}
.text-right {
  text-align: right!important;
}
.text-center {
  text-align: center!important;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-align-both {
  text-align: justify;
  text-align: end;
  /* 对于除了IE之外的浏览器用尾对齐覆盖之前的两端对齐方式 */
  text-align-last: justify;
  text-justify: distribute;
}
.chart-placeholder {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.3;
  filter: alpha(opacity=30);
  background-image: url(https://dummyimage.com/600x400/000000/0011ff&text=+);
}
:root .chart-placeholder {
  filter: none\9;
}
.chart-placeholder:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  color: #2a3a77;
  transform: translate(-50%, -50%);
}
.chart-placeholder:before {
  content: 'chart占位符，有chart时候移除chart-placeholder样式，绑定chart的div需要设置高度。';
}
.map-background,
.map-placeholder {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.3;
  filter: alpha(opacity=30);
  background-image: url(https://dummyimage.com/600x400/000000/0011ff&text=+);
}
:root .map-background,
:root .map-placeholder {
  filter: none\9;
}
.map-background:before,
.map-placeholder:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  color: #2a3a77;
  transform: translate(-50%, -50%);
}
.map-background:before,
.map-placeholder:before {
  content: '地图占位符，有地图时候移除map-placeholder样式或者map-background样式，绑定地图的div需要设置高度。';
}
